<!DOCTYPE html>
<html>
  <head>
    <title>Liste des</title>
    <style>
      {% block page_css %}
        @page {

          margin-footer: 0.5cm;

          /header: html_headerContent;/
          footer: html_pageFooter;
          margin-top: 0.5cm;
          margin-header: 0cm;
          margin-left: 1cm;
           margin-right: 1cm;
          /*background: ...
  background-image: ...
  background-position ...
  background-repeat ...
  background-color ...
  background-gradient: ...*/
        }
        .clearfix:after,
        {% endblock %} .clearfix:before {
          content: " ";
          display: table;
        }

        .clearfix:after {
          clear: both;
        }

        .mention {
  position: absolute;
  bottom: 100px;
}

        /*@page :first {
   header: html_headerContent;
}*/

        .table {
          width: 100%;
          max-width: 100%;
          border-collapse: collapse;

        }
        .table {
          page-break-before: auto;
        }

        body {
          font-family: Trebuchet,Arial,Helvetica;
        }

        .table td,
        .table th {
          padding: 2px;
          vertical-align: top;
          border-top: 1px solid #191919;
        }

        .table thead th {
          vertical-align: bottom;
          border-bottom: 2px solid #191919;
        }

        .table tbody + tbody {
          border-top: 1px solid #191919;
        }

        .table .table {
          background-color: #fff;
        }

        .table-sm td,
        .table-sm th {
          padding: 0.3rem;
        }

        .table-bordered {
          border: 1px solid #191919;
        }

        .table-bordered td,
        .table-bordered th {
          border: 1px solid #191919;
        }

        .table-bordered thead td,
        .table-bordered thead th {
          border-bottom-width: 1px;
        }

        @media all {
          /.content { display: block; page-break-inside: avoid; }/
        }

        .content {
          /margin-top: 18cm;/
        }

        .table-responsive.table-bordered {
          border: 0;
        }

        .double_underline {
            text-decoration:underline;
            border-bottom: 1px solid #000;
            text-align: center;
        }
    </style>
  </head>
  <body style="font-size:12px;">
      <div class="clearfix">
     <div style="width:50%;text-align:left;float:left;"  class="">
            {# {% set var = "uploads/" ~ menu.findParametre.logo.path "/" menu.findParametre.logo.alt %}
        <img src="{{ var |replace({'/': "\\"}) }}" width="200px" height="50px"/> #}
        <p>
            {{ "BPV 43 Abidjan"}}<br>
            TEL: +(225) 01 15 44 44 <br>
            EMAIL: <a href="mailto:{{ "zuzang@gmail.com"}}">{{ "zuzang@gmail.com"}}</a>
        </p>
      </div>
   
       <div style="width:50%;text-align:left;float:right;">
           <h3 style="font-weight:700;font-size:20px">Etat du suivi des publicités {{ ''}} <span style="font-size:10px;color:#FF2E2E"> <br>
         <span style="font-weight:700;font-size:20px;margin-left:45px">à la date {{"now"|date("m/d/Y")}}</span>
           </span></h3> 
           

        </div>
    </div>


       <table class="table table-bordered" style="margin-top:10px;font-size:10px">
      <thead>
        <tr>
          <th style="vertical-align:middle;width:5%">N°</th>
          <th style="vertical-align:middle;">TYPE</th>
          <th style="vertical-align:middle;">Libelle catégorie</th>
          <th style="vertical-align:middle;">{{"Date début" | upper }}</th>
          <th style="vertical-align:middle;">DATE FIN</th>
          <th style="vertical-align:middle;">ETAT</th>
          {# <th style="vertical-align:middle;">TAUX DE PAIEMNET</th> #}
       
        </tr>
      </thead>
      <tbody>
         {% set jour = 0 %}
         {% set code = "" %}
         {% set libelle = "" %}
         {% for key,ligne in data %}
         
        {# {% set difference = date(ligne.dateFin| date() ).diff(date( "now" | date())) %} #}
        {% set difference = date( "now" | date()).diff(date(ligne.dateFin| date())) %}
        {% set leftDays = difference.days %}

        {% if "now" | date('U') >= ligne.dateFin | date('U') %} {% set jour = leftDays-2 %} {% else %} {% set jour = leftDays + 1 %} {% endif %}

        {% if 'CAT' in ligne.code %}
          {% set code = 'Type catégorie' %}
          {% set libelle = menu.getPubTypeLibelle('CAT',ligne.code) %}
        {% elseif 'ENC' in ligne.code %}
            {% set code = 'Type encart' %}
            {% set libelle = menu.getPubTypeLibelle('ENC',ligne.code) %}
        {% else %}
          {% set code = 'Type région' %}
          {% set libelle = menu.getPubTypeLibelle('RGP',ligne.code) %}
        
        {% endif %}
        


         {# {{ dump("difference")}} #}
          <tr>
            <td style="vertical-align:middle;text-align:center;">{{key+1}}</td>
            <td style="vertical-align:middle;text-align:center;" >{{ code }}</td>
            <td style="vertical-align:middle;text-align:center;" >{{ libelle }}</td>
            {# <td style="vertical-align:middle;text-align:center;" >{% if ligne.etat == "valide" %} {{ 'Payer' }} {% else %} {{ 'Impayer' }} {% endif %}</td> #}
            <td style="vertical-align:middle;text-align:center;">{{ ligne.dateDebut | date("m/d/Y")  }}</td>
            <td style="vertical-align:middle;text-align:center;">{{ ligne.dateFin |date("m/d/Y") }}</td>
            <td style="vertical-align:middle;text-align:center;">{% if jour == 0 or jour < 0 %}
                <span class="badge badge-danger" style="font-size:15px;color:red">{{"Terminer" | upper}}</span>
            {% elseif jour < 0 and jour > 0 %}
                <span class="badge badge-warning" style="font-size:15px;color:jaune">{{"Presque" | upper}}</span>
            {% else %}
                <span class="badge badge-success" style="font-size:15px;color:vert">{{"En cours" | upper}}</span>
            {% endif %}
            </td>
            {# <td style="vertical-align:middle;text-align:center;" ><span style="font-size:15px;color:#FF2E2E">{% if ligne.etat == "valide" %} {{ligne.montant_preinscription  |number_format(0, '.', '.') }} {% else %} {{ '0'|number_format(0, '.', '.') }} {% endif %}</span ></td> #}
           
           
          </tr>
         {% endfor %}

      
        
    </table>
     
    </div>
    
    <br> 
  <div  style="border-bottom:3px solid #000">
  </div>  
    <htmlpagefooter name="pageFooter">
      
    </htmlpagefooter>
  </body>
</html>