  {% block style %}
  <style>
  
  #container {
    height: 400px;
}
  #container2 {
    height: 400px;
}
  </style>
  {% endblock %} 
 {% block body %}
    {#  {% form_theme form 'widget/fields-block.html.twig' %} #}
    <div class="card card-tabs card-stretch card-custom card-sticky">
        <div class="card-header card-header-stretch card-header-custom">
        
            <h3 class="card-title">Liste des  localités  par catégorie </h3>   
            {# <h3 class="card-title"><span  style="font-size: 20px;" class="badge badge-light-danger">{{ data|length  }}</span> Catégorie(s) actuellement enregistrées</h3>   
         #}
        </div> 
        <div class="card-body">
       <div class="row">
        {% form_theme form 'widget/fields-block.html.twig' %}
            {{ form_start(form)}}
            <fieldset>
              <div class="row small" style="position:relative">
                <div class="col-md-10">{{ form_row(form.categorie) }}</div>
                <div class="col-md-2 pt-5">
                  <button class="btn btn-main btn-filter btn-sm" type="button">Rechercher</button>
                </div>
               {#  <div class="col-md-1 pt-5">
                <a style="height: 35px;" href="{{ path('default_print_iframe',{
                    'r':'app_suivi_autre_print_all'
                  }) }}" class="btn btn-warning btn-sm btn-imprimer" 
                data-bs-toggle="modal" data-bs-target="#exampleModalSizeSm2">
                <i class="fa fa-print text-light"></i>
                
                </a>
                </div> #}
              </div>
            </fieldset>
            {{ form_end(form, {render_rest: false}) }}
      </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="grid_app_statistique_liste_localite_by_categoire_{{ grid_id }}" class="grid-dt-wrapper">Chargement....</div>
                </div>
                
            </div>
          {#   <div style="border-top:15px solid black"></div>
              <div class="row">
                    <div class="col-sm-12">
                          <div id="grid_app_sponsoring_sponsoring_{{ grid_id }}" class="grid-dt-wrapper">Chargement....</div>
                    </div>
             </div> #}
               
        </div> 
    </div>
{% endblock %}



{% block java %}
  <script src="{{ asset('assets/js/datatables.js') }}"></script>
  <script>
      $(function () {
      
           init_select2('select');
       });
    
    $(function () {
      const grid_prefix_id = "{{ grid_id }}";
    
      const $old_grid = $('#grid_app_statistique_liste_localite_by_categoire_' + grid_prefix_id);
      init_select2('.has-select2');

      function loadDataTable($grid, categorie,options = null, contents = '') {
        $grid.initDataTables(
          options
          ? options
          : {{ datatable_settings(datatable) }}, {
          searching: true,
          ajaxUrl: Routing.generate('app_statistique_liste_localite_by_categoire_index', {
            categorie: categorie,
            
            
          }),
          language: {
            url: asset_base_path + "/js/i18n/French.json"
          },
          headerCallback: function (tHead, aData, iStart, iEnd, aiDisplay) {},
          initComplete: function (e, oSettings, json) {},
        
          drawCallback: function (row, data) {}
        });
      }

     
      const $categorie = $('#{{ form.categorie.vars.id }}');
      
      
      /* $dateDebut.on('change',function(){
            alert('')
      })*/

     /* $user.on('change', function () {
        const val = $(this).val();
         
     
      });*/

      loadDataTable($old_grid, null, {{ datatable_settings(datatable) }});

      $('.btn-filter').on('click', function (e) {
        e.preventDefault();
        const $this = $(this);
        const $form = $this.closest('form');

        //alert($dateDebut.val());
        load_grid_data($form, $this,$categorie.val());
      });


      $('.btn-imprimer').on('click', function (e) {
        e.preventDefault();
        const $this = $(this);
        const $form = $this.closest('form');

        //alert($niveau.val());
        imprimer(1);
      });

       function imprimer(groupe){
       // https://localhost:8000/ads/publicite/publicite/prestataire/imprime/autre/all
        $.ajax({
          url: "/ads/publicite/publicite/prestataire/imprime/autre/all",
          type: 'POST',
          async: false,
          data:  {
            id: groupe
        
          },
     
        });
      }


    

      function load_grid_data($form, $button,categorie) {
        const id = $old_grid.find('table').attr('id');
        const $table = $old_grid.find(`#${id}`);
        const table = $table.DataTable();
        $.ajax({
          url: $form.attr('action'),
          type: $form.attr('method'),
          data: {
            categorie: categorie,
          },
          beforeSend: function () {
            $button.append('<span class="spinner-border spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> ');
            $button.prop('disabled', true);
          },
          complete: function () {
            $button.prop('disabled', false);
            $button.find('.spinner-ajax').remove();
          },
          success: function (html) {
            table.destroy();
            if ($table.length) {
              $table.empty();
            }

           // let grid_val = `${niveau}_${caissiere}_${dateDebut}_${dateFin}`;
            let grid_val = `${categorie}`;


            //alert(grid_val)

            $old_grid.attr('id', `grid_app_statistique_liste_localite_by_categoire_${grid_val}`).empty().html(`
                                    <div class="spinner spinner-track spinner-primary mr-15 text-primary">
                                        <div class="ml-15">Chargement des données de la grille</div>
                                    </div>
                            `);
            var options = {{ datatable_settings(datatable) }};
            var name = `dt_app_statistique_liste_localite_by_categoire_${grid_val}`;

            options['name'] = name;

            console.log(name);

            loadDataTable($old_grid, categorie ,options)
          }
        });
      }

    });
  </script>
{% endblock %}

