{% block page_content %}
    {% form_theme form 'widget/fields-block.html.twig' %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modification WorkflowServicePrestataire</h5>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div>
    {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}
    <div class="modal-body card-container">
        {{ include('_includes/ajax/response.html.twig') }}
        
        <div class="row">
            <div class="col-md-8 ">
						
					</div>
                    <div class="col-md-4 ">
						<a title="details" href="{{ path('app_parametre_prestation_prestataire_service_index',{'reference':workflow_service_prestataire.prestataire.reference}) }}" class="btn btn-primary btn-xs test" data-bs-stacked-toggle="modal" data-bs-stacked-modal="#exampleModalSizeLg22">
                        <i class="bi bi-eye text-light"></i>Informations service du prestataire</a>
					</div>
        </div> 
        <div class="row">
	    
			<div class="col-md-2 ">
				{% include '_includes/image.html.twig'  with {'image':form.image,'data':workflow_service_prestataire} %}
			</div>
			<div class="col-md-10 ">
				
				<div class="row">
					<div class="col-md-6 ">
                    <label class="sr-onl" for="userinput1" style="margin-left: 12px;">
					Catégorie*
				</label>
						{{ form_widget(form.categorie) }}
					</div>
					<div class="col-md-6 ">
						{{ form_row(form.prestataire) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 ">
                     <label class="sr-onl" for="userinput1" style="margin-left: 12px;">
					Sous catégorie
				    </label>
						{{ form_widget(form.sousCategorie) }}
					</div>
					<div class="col-md-6 ">
						{{ form_row(form.service) }}
					</div>
				</div>
			</div>


		</div>
    </div>
    <div class="modal-footer">
     {{ form_widget(form.annuler) }}
      {{ form_widget(form.save) }}
       {% if workflow_can(workflow_service_prestataire, 'passer') %}
            {{ form_widget(form.passer) }}
        {% endif %}
         {% if workflow_can(workflow_service_prestataire, 'rejeter') %}
           {#  {{ form_widget(form.rejeter) }} #}
             <a title="Rejeter la demande" href="{{ path('app_workflowdemande_workflow_service_prestataire_rejeter',{'id':workflow_service_prestataire.id }) }}" class="btn btn-danger btn-sm test" data-bs-stacked-toggle="modal" data-bs-stacked-modal="#exampleModalSizeLg1">Rejeter le document</a>
             
        {% endif %}
        {# {{ include('_includes/ajax/loader.html.twig') }} #}
      {#   <button type="button" class="btn btn-default btn-sm" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-main btn-ajax btn-sm"><span class="spinner-border d-none  spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> Valider</button>
   #}
    </div>
    {{ form_widget(form._token) }}
	{{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block java %}
	<script>
$(function () {
	  var elements = Array.from(document.querySelectorAll("[data-bs-stacked-modal]"));

            if (elements && elements.length > 0) {
                elements.forEach((element) => {
                    if (element.getAttribute("data-kt-initialized") === "1" ) {
                        return;
                    }

                    const url = element.getAttribute('href');
                    element.setAttribute("data-kt-initialized", "1");


                    element.addEventListener("click", function(e) {
                        e.preventDefault();

                        const modalEl = document.querySelector(this.getAttribute("data-bs-stacked-modal"));

                        if (modalEl) {
                            const modal = new bootstrap.Modal(modalEl);
                            modal.show(element);
                        }
                    });
                });
            }
init_select2('select',null,'#exampleModalSizeLg2');
KTImageInput.createInstances();
var imageInputElement = document.querySelector("#kt_image_input_control");
var imageInput = KTImageInput.getInstance(imageInputElement);
})
$('.categorie').on('change', function (e) {

$res = $(this).closest('.card-container');

$id = $(this).val();

			$.ajax({
					url: '/utilisateur/front/prestataire/liste/souscategorie',
					type: 'get',
					async: false,
					data: {
					id: $id
					},
					dataType: 'json',
					success: function (json) {
console.log(json)
					$res.find('#' + $res.find('.sousCategorie').attr("id")).html(''); // je vide la 2ème list
					$res.find('#' + $res.find('.sousCategorie').attr("id")).append('<option value selected="default">Choisissez</option>');
					$.each(json, function (index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"

					$res.find("#" + $res.find('.sousCategorie').attr("id")).append('<option value="' + value.id + '"  >' + value.libelle + '</option>');

					});


					}
			});

$.ajax({
url: '/utilisateur/front/prestataire/liste/service',
type: 'get',
async: false,
data: {
id: $id
},
dataType: 'json',
success: function (json) {

$res.find('#' + $res.find('.service').attr("id")).html(''); // je vide la 2ème list
$res.find('#' + $res.find('.service').attr("id")).append('<option value selected="default">Choisissez</option>');
$.each(json, function (index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"

$res.find("#" + $res.find('.service').attr("id")).append('<option value="' + value.id + '"  >' + value.libelle + '</option>');

});


}
});
});

	</script>
{% endblock %}