
{% macro colonne(colonne) %}
    <div class="row-colonne_universitaire  my-3 py-2" style="border-bottom:3px solid #000">
        {#{{ dump(redaction.children.path.vars.data) }}#}

        <div class="row">
            <div class="col-md-2 ">
                {% include '_includes/image_service.html.twig'  with {'image':colonne.image,'data':colonne} %}
            </div>
            <div class="col-md-10 " >
                <div class="row" style="margin-left: 12px;">
                <div class="col-md-11 ">
                 {{ form_row(colonne.lien) }}

                </div>
                </div>
                <div class="row" style="margin-left: 12px;">
               
                    <div class="col-md-11 ">
                        {{ form_row(colonne.description) }}
                    </div>
                
                    <div class="col-md-1 del-col_universitaire" data-parent=".row-colonne_universitaire"></div>
                </div>
            </div>
        </div>
    </div>

{% endmacro  %}


{% macro prototype_ligne_colonne(form) %}
    <div class="list-colonne_universitaire"  data-prototype="{{ _self.colonne(form.publiciteImages.vars.prototype)|e }}"></div>
    <button type="button" data-protoname="__name__" class="btn btn-default add_line_universitaire btn-xs" id="add_ligne_universitaire"  data-protoclass=".list-colonne_universitaire" data-container=".column-container">
        <i class="fa fa-plus"></i> Ajouter une ligne
    </button>
    <div class="column-container proto-container" data-childclass="">
        {% for item in form.publiciteImages %}
            {{ _self.colonne(item|e) }}
        {% endfor %}
    </div>
{% endmacro %}