{% extends 'base-layout.html.twig' %}

{% block title %}Liste des sponsorings{% endblock %}
{% block header %}sponsorings{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block body %}
<div class="card shadow-sm">
    <div class="card-header card-header-sm">
        <h3 class="card-title"> Liste des sponsorings</h3>
        <div class="card-toolbar">
            {% if permition in ["CR","CRU","CRUD"] %}
            <a href="{{ path('app_sponsoring_sponsoring_new') }}" class="btn btn-main btn-sm"  
                data-bs-toggle="modal" data-bs-target="#exampleModalSizeLg2">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
       
                {% if permition != null %}
                     <div class="row">
        {% form_theme form 'widget/fields-block.html.twig' %}
            {{ form_start(form)}}
            <fieldset>
              <div class="row small" style="position:relative">
                <div class="col-md-3">{{ form_row(form.etat) }}</div>
                <div class="col-md-3">{{ form_row(form.dateDebut) }}</div>
                <div class="col-md-3">{{ form_row(form.dateFin) }}</div>
                <div class="col-md-2 pt-5">
                  <button class="btn btn-main btn-filter btn-sm" type="button">Rechercher</button>
                </div>
                <div class="col-md-1 pt-5">
                <a style="height: 35px;" href="{{ path('default_print_iframe',{
                    'r':'app_suivi_print_sponsoring_all'
                  }) }}" class="btn btn-warning btn-sm btn-imprimer" 
                data-bs-toggle="modal" data-bs-target="#exampleModalSizeSm2">
                <i class="fa fa-print text-light"></i>
                
                </a>
                </div>
              </div>
            </fieldset>
            {{ form_end(form, {render_rest: false}) }}
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="grid_app_sponsoring_sponsoring_{{ grid_id }}" class="grid-dt-wrapper">Chargement....</div>
        </div>
      </div>
                {% else %}
                <div class="row">
                 <div class="col-sm-12">
                <div class="d-flex flex-column flex-center flex-column-fluid">
                    <!--begin::Content-->
                    <div class="d-flex flex-column flex-center text-center ">
                        <!--begin::Wrapper-->
                        <div class="card card-flush w-lg-650px py-5">
                            <div class="card-body py-1 py-lg-20" style="margin-top: -88px">

                                <!--begin::Title-->
                                 {% include "_includes/message_error.html.twig" %}
                                <!--end::Title-->
                                <!--begin::Illustration-->
                               


                            </div>
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Content-->
                </div>
            </div>
             </div>
                {% endif %}
    </div>
  </div>
{% endblock %}



{% block java %}
  <script src="{{ asset('assets/js/datatables.js') }}"></script>
  <script>
      $(function () {
      
           init_select2('select');
       });
    
    $(function () {
      const grid_prefix_id = "{{ grid_id }}";
      const gridd = "15";
      const $old_grid = $('#grid_app_sponsoring_sponsoring_' + grid_prefix_id);
      init_select2('.has-select2');

      function loadDataTable($grid, dateDebut,dateFin ,etat,options = null, contents = '') {
        $grid.initDataTables(
          options
          ? options
          : {{ datatable_settings(datatable) }}, {
          searching: true,
          ajaxUrl: Routing.generate('app_sponsoring_sponsoring_index', {
            etat: etat,
            dateDebut: dateDebut,
            dateFin: dateFin,
           
            
          }),
          language: {
            url: asset_base_path + "/js/i18n/French.json"
          },
          headerCallback: function (tHead, aData, iStart, iEnd, aiDisplay) {},
          initComplete: function (e, oSettings, json) {},
        
          drawCallback: function (row, data) {}
        });
      }

     
      const $etat = $('#{{ form.etat.vars.id }}');
      const $dateDebut = $('#{{ form.dateDebut.vars.id }}');
      const $dateFin = $('#{{ form.dateFin.vars.id }}');
      
      /* $dateDebut.on('change',function(){
            alert('')
      })*/

     /* $user.on('change', function () {
        const val = $(this).val();
         
     
      });*/

      loadDataTable($old_grid, null,null,null, {{ datatable_settings(datatable) }});

      $('.btn-filter').on('click', function (e) {
        e.preventDefault();
        const $this = $(this);
        const $form = $this.closest('form');

        //alert($dateDebut.val());
        load_grid_data($form, $this,$dateDebut.val(),$dateFin.val(),$etat.val());
      });


      $('.btn-imprimer').on('click', function (e) {
        e.preventDefault();
        const $this = $(this);
        const $form = $this.closest('form');

        //alert($niveau.val());
        imprimer(1);
      });

       function imprimer(groupe){
       // https://localhost:8000/ads/publicite/publicite/prestataire/imprime/autre/all
        $.ajax({
          url: "/ads/publicite/publicite/prestataire/imprime/autre/all",
          type: 'POST',
          async: false,
          data:  {
            id: groupe
        
          },
     
        });
      }


    

      function load_grid_data($form, $button,dateDebut,dateFin,etat) {
        const id = $old_grid.find('table').attr('id');
        const $table = $old_grid.find(`#${id}`);
        const table = $table.DataTable();
        $.ajax({
          url: $form.attr('action'),
          type: $form.attr('method'),
          data: {
            etat: etat,
            dateDebut: dateDebut,
            dateFin: dateFin,

        
          },
          beforeSend: function () {
            $button.append('<span class="spinner-border spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> ');
            $button.prop('disabled', true);
          },
          complete: function () {
            $button.prop('disabled', false);
            $button.find('.spinner-ajax').remove();
          },
          success: function (html) {
            table.destroy();
            if ($table.length) {
              $table.empty();
            }

           // let grid_val = `${niveau}_${caissiere}_${dateDebut}_${dateFin}`;
            let grid_val = `${etat}`;


            //alert(grid_val)

            $old_grid.attr('id', `grid_app_sponsoring_sponsoring_${grid_val}`).empty().html(`
                                    <div class="spinner spinner-track spinner-primary mr-15 text-primary">
                                        <div class="ml-15">Chargement des données de la grille</div>
                                    </div>
                            `);
            var options = {{ datatable_settings(datatable) }};
            var name = `dt_app_sponsoring_sponsoring_${grid_val}`;

            options['name'] = name;

            console.log(name);

            loadDataTable($old_grid, dateDebut,dateFin,etat ,options)
          }
        });
      }

    });
  </script>
{% endblock %}

